<ion-content style="background-color: #EC865E;">
  <ion-card  style="background-color: #EC865E;">
    <div class="text-center"> <img style="background-color: #EC865E;"src="../../../assets/tittle.png" alt=""> </div>
    <div class="text-center"> <img style="background-color: #EC865E;"src="../../../assets/icon.png" alt=""> </div>
        
        <form [formGroup]="formulario" (ngSubmit)="Loguear()">

            <ion-item>
              <ion-label position="stacked">Correo electrónico</ion-label>
              <ion-input type="text" class="formControl"  formControlName="Email" required></ion-input>
            </ion-item>

            <span class="text-danger" *ngIf="formulario.get('Email')?.hasError('required') && formulario.get('Email')?.touched">El Email es requerido.</span> 
            <span class="text-danger" *ngIf="formulario.get('Email')?.hasError('pattern') && formulario.get('Email')?.touched">El Email debe tener x.</span>
          
            <ion-item >
              <ion-label position="stacked">Contraseña</ion-label>
              <ion-input type="password" class="formControl" formControlName="Password" required></ion-input>
            </ion-item>
          
           <span class="text-danger" *ngIf="formulario.get('Password')?.hasError('required') && formulario.get('Password')?.touched">La contraseña es requerida.</span>  
         
          <!-- <ion-button size="small" color="warning" type="submit" shape="round" expand="block" [disabled]="formulario.invalid">Logueate</ion-button> -->
          <ion-button type="submit" expand="block" [disabled]="formulario.invalid" style="--background: #0f0e0e;">
            <!-- <ion-icon name="enter-outline" size="large" ></ion-icon> -->Ingresar
          </ion-button>
          
      </form>
      <ion-button shape="round" expand="block" (click)="Sereneis()" style="--background:#773f29; --background-activated-opacity:#bb998c;">Usuario 1</ion-button>
      <ion-button shape="round" expand="block" (click)="Irina()" style="--background:#773f29; --background-activated-opacity:#bb998c;">Usuario 2</ion-button>
      <ion-button shape="round" expand="block" (click)="Denu()" style="--background:#773f29; --background-activated-opacity:#bb998c;">Usuario 3</ion-button>
      
      
     
    
      </ion-card>
      <div class="spin" *ngIf="spinner">
        <ion-spinner name="crescent"></ion-spinner>
    </div>
</ion-content>
