ion-content{
    --background:#EC865E;
}
ion-icon {
    font-size: 64px;
  }

  @font-face{
    font-family: 'Pacifico';
    src:url('../../../assets/Pacifico-Regular.ttf')
}

h5, ion-item, ion-label, span, ion-button, ion-input{
    font-family: 'Pacifico';
}